body {
    background-image: linear-gradient(to right, #093028, #237a57);
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div h1 {
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1.5px;
}